<html>
  <body>
    <h1>Edit '{{item.name}}'</h1>
  
    <form method="POST" action="{{ url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=menu_id)}}">
      <label>Name</label>
      <input type="text" name="name" size='30' placeholder= '{{item.name}}'> <br>
      
      <label>Description</label>
      <textarea type="textarea" label="Description" name="description" placeholder= '{{item.description}}'></textarea> <br>
      
      <label>Price</label>
      <input type="text" name="price" placeholder= '{{item.price}}'> <br>
      <input type="submit" value="Edit">
    </form>
    <a href="{{url_for('restaurantMenu',restaurant_id=restaurant_id)}}">Cancel</a>
  </body>
</html>